@CHARSET "ISO-8859-1";

#wrapper{
	width:1100px;
}
#content{
	background-color: transparent;	
	min-height: 650px;
	height: auto;
}
#header{
	display:none;
}
#content-wrapper{
	width: 100%;
	min-height: 650px;
	height: auto;
}

#leftpanel{
	float:left;
	width: 150px;
	min-height: 650px;
	height: auto;
	background-color: #f5f8fb;	
}

#rightpanel{
	margin-left:3px;
	float:left;
	width: auto;
	min-width:947px;
	min-height: 650px;
	height: auto;
	background-color: #FFFFFF;
}
.panel-title{
	background: url('../images/blue-bg.png') repeat-x scroll 0 0 #B9C9FE;
	height: 13px;
	font-family: Lucida Grande,Tahoma, Verdana;
	font-size: 13px;
	font-weight: bold;
	padding: 4px 10px 10px;
	color: #003399;
}

#panel-wrapper{
	width: 100%;	
	min-height: 596px;
	height: auto;
}
#form-panel{
	float:left;
	width:99.9%;
	min-height: 596px;
	height: auto;
	border-right: 1px solid #EFEFEF;
}

#form-panel-wrapper{
	margin-left:10px;
	margin-top:10px;
	width:99%;
}
#inout-table{
	font-family: Lucida Grande,Tahoma, Verdana;
	font-size: 11px;
	color: EDEDED;
}
.panel-header{
	font-family: Lucida Grande,Tahoma, Verdana;
	font-size: 13px;
	font-weight: bold;
	height: 16px;
	background: url("../images/ui-bg.png") repeat scroll 0 0 #EEEEEE;
	color: #003399;
	padding: 4px 8px 6px 10px;
}
.panel-element{
	font-family: Lucida Grande,Tahoma, Verdana;
	font-size: 11px;
	height: 14px;
	color: #666699;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px dotted #e1e2e3;
	padding: 8px 10px 4px 10px;
}
.transparency {
	-moz-border-radius: 10px 10px 10px 10px;
	z-index: 100;
}
.blurscreen{
	height: 435px;
	width: 950px;
	filter: alpha(opacity=55);
	background-color: rgba(0, 0, 0, 0.7);
	opacity:0.5;
	display: none;
	z-index: 10;
	
}

table.inout-table{
	rule-color: #EFEFEF;
	border: 1px solid #D0D0D0;
}
table.inout-table tr{
	border-bottom: 1px solid #D0D0D0;
}

#table-header{
	height: 60px;
	background-color: #e7edf6;
	color: #000000;
	font-weight: bold;	
}
.tblAmountInputField{
	font-size:11px;
	font-weight: bold;
	border:0px solid #3B5908;
	text-align: right;
}
.select-group{
	width: 90px;
}
.select-item{
	width: 90px;
}
.select-subitem{
	width: 110px;
}
.odd {
 background-color: #ffffff;
}
.even {
 background-color: #ffffff;
}