@CHARSET "ISO-8859-1";

#content{
	background-color: transparent;	
	height: 650px;
}

#content-wrapper{
	width: 100%;
	height: 650px;
}

#leftpanel{
	float:left;
	width: 150px;
	height: 650px;
	background-color: #F5F8FB;	
}
#rightpanel{
	margin-left:3px;
	float:left;
	width: 847px;
	height: 650px;
	background-color: #FFFFFF;
}
.panel-title{
	background: url('../images/blue-bg.png') repeat-x scroll 0 0 #B9C9FE;
	height: 13px;
	font-family: Lucida Grande,Tahoma, Verdana;
	font-size: 13px;
	font-weight: bold;
	padding: 4px 10px 10px;
	color: #003399;
}

#panel-wrapper{
	width: 100%;	
}
#form-panel{
	float:left;
	width:580px;
	height: 620px;
	//border-right: 1px solid #EFEFEF;
}
#supplier-panel{
	float:left;
	width:265px;
	height: 620px;
	background-color: #F5F8FB;
	overflow:auto;
}

#form-panel-wrapper{
	margin-left:10px;
	margin-top:10px;
	width: 550px;
}
#supplier-table{
	font-family: Lucida Grande,Tahoma, Verdana;
	font-size: 11px;
	color: EDEDED;
}
.leaf-panel-element{
	font-family: Lucida Grande,Tahoma, Verdana;
	font-size: 11px;
	height: 14px;
	color: #666699;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px dotted #e1e2e3;
	padding: 8px 10px 4px 10px;
}

.leaf-panel-element:hover{
	background: none #E8EDFF center right no-repeat;
	color: #101010;
	font-weight: bold;
	cursor:pointer;
}
.selected-leaf-panel-element{
	background: none #E8EDFF center right no-repeat;
	font-family: Lucida Grande,Tahoma, Verdana;
	font-size: 11px;
	font-weight: bold;
	height: 15px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #e1e2e3;
	padding: 8px 10px 4px 10px;
	color: #101010;
	cursor:pointer;
}
#supplierpanel{
	height:450px;
	border-bottom : 1px solid #EFEFEF;
}
#supplier-button-panel{
	margin-left:10px;
	margin-top:8px;
}
.panel-header{
	font-family: Lucida Grande,Tahoma, Verdana;
	font-size: 13px;
	font-weight: bold;
	height: 16px;
	background: url("../images/ui-bg.png") repeat scroll 0 0 #EEEEEE;
	color: #003399;
	padding: 4px 8px 6px 10px;
}
.transparency {
	-moz-border-radius: 10px 10px 10px 10px;
	z-index: 100;
}
.blurscreen{
	height: 435px;
	width: 950px;
	filter: alpha(opacity=55);
	background-color: rgba(0, 0, 0, 0.7);
	opacity:0.5;
	display: none;
	z-index: 10;
}
.selected-panel-element{
	background: none #E8EDFF center right no-repeat;
	font-family: Lucida Grande,Tahoma, Verdana;
	font-size: 11px;
	color: #0068C4;
	-moz-border-radius:10px;
	margin: 2px 2px 3px 2px;
	padding: 6px 10px 6px 10px;
	overflow:auto;
}
.panel-element{
	font-family: Lucida Grande,Tahoma, Verdana;
	font-size: 11px;
	background-color: #FFFFFF;
	color: #0068C4;
	-moz-border-radius:10px;
	margin: 2px 2px 3px 2px;
	padding: 6px 10px 6px 10px;
	overflow:auto;
}
.panel-element:hover{
	background: none  #0068C4 center right no-repeat;
	//border: 1px solid #EFEFEF;
	color: #FFFFFF;
	font-weight: bold;
	cursor:pointer;
}